body{
	font-family: "Kadwa";
	max-width: 1310px;
	margin: auto;
}

.text-primary{
	fill: #f72210;
	color: #f72210 !important;
}

.text-black{
	color: white !important;
}

.text-black:hover{
	color: #000 !important;	
}

.bg-primary{
	background: #f72210 !important;
}

.bg-special-nav {       
	background-color: #f72210;
}

	.form-search{
		width:100%;
	}

@media only screen and (min-width:1200px) { 
	.bg-special-nav{
		background:#fff;
	}      		
	.text-black{
		color: black !important;
	}
	.text-black:hover{
	color: #f72210 !important;
	}
	.form-search{
		width:200px;
	}
}


@media only screen and (max-width:450px) { 
	.sign-btns{
		min-width: 160px !important;
	}

	.sign-btns svg{
		display: none;
	}

	.sign-btns span{
		font-size: 12px !important;		
	}

	.sign-btns a{
		padding-left: 3px !important;
		padding-right: 3px !important;
		margin-left: 5px !important;
		margin-right: 5px !important;
		font-size: 12px;
	}

	.sign-btns i{
		font-size: 25px !important;
	}


}

@media only screen and (max-width:350px) { 
	.special-nav{
		flex-direction: column;
		justify-content: center;
	}
}

